# General
.DS_Store
Thumbs.db
*.log
logs/
tmp/
temp/

# Environments
.env
.env.*

# Node
node_modules/
dist/
build/

# Python
.vscode/
.idea/
.venv/
venv/
__pycache__/
*.pyc
coverage/
ADMIN_PANEL_SUMMARY.md